<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edition</title>
</head>
<body>
    <h2>You About To Edit <%=user.email%> </h2>
    <form method="post" action="/user/<%=user.id%>?_method=PATCH">
        <textarea name="username" cols="30" rows="3"> <%=user.username%> </textarea> <br>
        <input type="password" placeholder="Enter password" name="password">
        <button>Edit</button>
    </form>
</body>
</html>