<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Write New Chat</h2>

    <form action="">
        <input name="from" placeholder="Who Are You"> <br> <br>
        <textarea name="msg" placeholder="Write Message"></textarea> <br> <br>
        <input name="to" placeholder="Add Reciever"><br> <br>

        <button>Create Chat</button>
    </form> 
</body>
</html>